<div class="w-100 h-100 p-4">
<h1 class = "d-flex justify-content-center">Welcome to Countdown!</h1>
<p class = "d-flex justify-content-center">It's the game you can't put down!</p>
</div>

 <div class = "d-flex justify-content-center">
  <ul>
 <% @letters.each do |letter| %>
  <li class = "border border-primary rounded-lg mx-3" style= "display: inline; margin: 10px; padding: 10px"><%= letter %></li>
  <% end %>
</ul>
</div>
<br>

<div class = "d-flex justify-content-center">
  <div>
  <div>
  What is the longest word you can form out of these given letters?
</div>
<div class="d-flex justify-content-center">
  <% start_time = Time.now %>
  <form action = "/score" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input name="start_time" value="<%= start_time %>" type="hidden">
  <input name="letters" value="<%= @letters %>" type="hidden">
  <input type ="text" name = "answer" placeholder="e.g. racecar">
  <input type = "submit">
</form>
</div>
</div>
</div>

